@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: var(--background);
}

.titulo-cine {
color: var(--white);
text-align: center;
font-size: 30px;
margin-top: 20px;
}

.image-inicio {
  width: 1000px;
  object-fit: contain;
  display: flex;
}

.image-cine {
  text-align: center;
  width: 100%;
}

.titulo-descrição {
text-align: center;
color: var(--gray);
margin-top: 10px;
line-height: 20px;
}

.titulo-noticia {
text-align: center;
color: var(--white);
margin-top: 10px;
line-height: 20px;
}

.conteudo-cine {
  width: 100%;
  padding: 20px;
  line-height: 20px;
  box-sizing:border-box;
}

.texto01{
color: var(--white);
display: flex;
text-align: center;
margin-top: 20px;
}

.modals {
color: var(--white);
display: flex;
margin-top: 20px;
flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#img3 {
  object-fit: cover;
  width: 500px;
}



