@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

.titulo-cine {
color: var(--white);
text-align: center;
font-size: 30px;
}

.titulo-descrição {
text-align: center;
color: var(--gray);
line-height: 20px;
margin-top: 10px;
}

.titulo-noticia {
text-align: center;
color: var(--white);
margin-top: 10px;
line-height: 20px;
}

.conteudo-cine {
  width: 100%;
  padding: 20px;
  line-height: 20px;
}

.texto01{
color: var(--white);
margin-top: 30px;
line-height: 20px;
}

.box-destaque {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.imagem-destaque {
  width: 100%;
  object-fit: cover;
}

.titulo {
color: var(--white);
line-height: 35px;
}

.sub-titulo-imagem {
color: var(--gray);
line-height: 20px;
}

.informação {
color: var(--white);
}

.texto02{
  color: var(--white);
  margin-top: 20px;
  line-height: 20px;
  }

.sub-texto02 {
color: var(--gray);
line-height: 20px;
text-align: center;
}

.trailer {
  width: 100%;
  height: 80vh;
  margin-top: 30px;
}

.imagem-charlie {
  justify-content: center;
  display: flex;
  
}

.titulo-charlie {
  text-align: center;
  color: var(--white);
  margin-top: 10px;
  line-height: 20px;
  font-size: 30px;
}

.imagem-charlie {
  width: 100%;
  margin-top: 10px;
}

.informação {
  margin-top: 20px;
}

.sub-imagem {
text-align: center;
color: var(--gray);
line-height: 20px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--white);
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background-color: var(--gray);
}